@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
    string role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scheduling</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/icon/fontawesome/styles.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/Scheduling.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light  border-bottom box-shadow py-0" style="background-color: rgb(45, 108, 162);">
            <div class="container py-0">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.png" alt="University Logo" width="80">
                </a>
                <a class="navbar-brand text-white" style="font-size: 28px;" asp-area="" asp-controller="Home" asp-action="Index">
                    Home
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (userId == null)
                    {
                        <partial name="Components/menu/_pub" />
                    }
                    else
                    {
                        switch (role?.ToLower())
                        {
                            case "admin":
                                <partial name="Components/menu/_admin" />
                                break;

                            case "instructor":
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="MyInstructorSchedule">
                                            <i class="fas fa-calendar-alt me-2"></i> My Teaching Schedule
                                        </a>
                                    </li>
                                </ul>
                                <partial name="Components/menu/_pub" />
                                break;

                            case "student":
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="MyStudentSchedule">
                                            <i class="fas fa-calendar-alt me-2"></i> My Schedule
                                        </a>
                                    </li>
                                </ul>
                                <partial name="Components/menu/_pub" />
                                break;
                            case "departmentadmin":

                                <partial name="Components/menu/_admin" />
                              
                                break;
                            default:
                                <partial name="Components/menu/_pub" />
                                break;
                        }
                    }
                </div>




            </div>
        </nav>
    </header>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted text-white-50 bg-dark">
        <div class="container">
            &copy; 2025 - Scheduling - <a class="text-white-50" asp-area="" asp-controller="Pub" asp-action="About">Hawassa University Application Development Team</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
