@{
    ViewData["Title"] = "Home";
}


<section class="bg-primary bg-gradient text-white py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="display-4 mb-4 fw-bold">Welcome to Class Scheduling</h1>
                <p class="lead mb-5">Efficiently manage and generate academic schedules with our powerful system</p>
            </div>
        </div>
    </div>
</section>


@*    <form asp-controller="Scheduling" asp-action="SeedData" method="post">
      <button type="submit" class="btn btn-warning">Run Seeder</button>
  </form> 
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
} *@
